{% extends 'base.html.twig' %}

{% block title 'Informations billetterie Louvre' %}
{% block header %}
    <header>
        <div class="jumbotron jumbotron-fluid width-max mt-5">
            <h1 class="h1-responsive font-weight-bold text-center my-4">Contact</h1>
            <p class="text-center w-responsive mx-auto mb-5">N'hésitez pas à nous contacter, nous serons ravis de répondre à vos questions</p>
        </div>
    </header>
{% endblock %}
{% block body %}
    <!--Section: Contact-->
    <section class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-md-0 mb-5">
                    <div class="row">
                        <p class="col-md-12 text-center mb-5">Pour une prise de contact rapide, envoyez-nous le formulaire après l'avoir rempli.</p>
                        <p class="col-md-12 smaller bg-warning">Les champs avec un astérisque <span class="font-weight-bolder ">(*)</span> sont oblligatoire</p>
                    </div>
                    {# Flash message #}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                            Veuillez corriger les erreurs avant d'essayer de renvoyer le formulaire.
                        </div>
                    {% endif %}
                    {# endFlash message #}
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.lastname) }}</div>
                        <div class="col-md-6">{{ form_row(form.firstname) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.email) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">{{ form_row(form.subject) }}</div>
                    </div>
                    <div class="row ml-2 mb-4">
                        {{ form_widget(form.accept) }}
                        <div class="col-sm-11">
                            <span class="smaller text-muted lead">En soumettant ce formulaire, vous acceptez que vos informations personnelles soient exploitées conformément à notre politique de confidentialité.</span>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <div class="form-group">
                            <button class="btn btn-outline-success btn-block font-weight-bold">Envoyer</button></div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!--Section: Contact-->
{% endblock %}