<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- adapt content to different media -->
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{{ asset('images/louvre.ico') }}" />
        <title>{% block title %}{% endblock %}</title>

        <!-- Get css from webpack-encore -->
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
{# Navbar #}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-nav-color main-nav">
        <div class="container">
            <a class="navbar-brand center-logo" href="#"><img src="{{ asset('images/louvre-log-origo.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold {% if current_menu is defined and current_menu == 'Home' %} active {% endif %}" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold {% if current_menu is defined and current_menu == 'Booking' %} active {% endif %}" href="{{ path('booking') }}">Billet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold {% if current_menu is defined and current_menu == 'Contact' %} active {% endif %}" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="font-weight-bold nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Langues</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                <img src="{{ asset('build/images/fr.png') }}"> Francais
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="{{ asset('build/images/gb.png') }}"> English
                            </a>
                        </div>
                    </li>
                    {% if cart is defined and cart == 'full' %}
                        <li class="nav-item dropdown">
                            <a class="font-weight-bold nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="mt-n1 fa-stack mr-n2">
                                    <span class="light fa fa-shopping-cart fa-stack-2x"><strong class="align-middle cart-text fa-stack-1x mt-1 ml-1" style="font-size:55%;">
                                    {% set ticketsNbr = '0'%}
                                            {% for order in app.session.get('cart') %}
                                                {% if order.visitors is not empty %}
                                                    {% set ticketsNbr = ticketsNbr|number_format + order.visitorsNbr|number_format %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ ticketsNbr }}
                                    </strong></span>
                                </span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('cart') }}"><i class="fas fa-shopping-cart icon-cog-cold"></i> Aller au panier
                                </a>
                                <a class="dropdown-item" href="{{ path('cleancart') }}"><i class="fas fa-broom icon-cog-cold"></i> Vider le panier
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{# EndNavbar #}
    {% block header %}{% endblock %}

    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer>
        {# fix Webpack error page-auto-loading #}
        {{ encore_entry_script_tags('app') }}
        <!--Get Js from webpack-encore-->
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </footer>
    </body>
</html>
